NEXT_PUBLIC_ENABLE_ANALYTICS=true
NEXT_PUBLIC_APPSIGNAL_FRONTEND_KEY=f226399c-1703-4283-bfce-da121742ad93

# Preview only: the time the app runs at (ISO 8601 with offset).
# CURRENT_TIME_OVERRIDE=2026-10-09T08:00:00+02:00
