@import "tailwindcss";

@import "@repo/design-system/themes/www.kalkulacka.one/default";
@import "@repo/design-system/styles";

@theme static {
  --font-display: var(--ko-font-display);
  --font-sans: var(--ko-typeface-sans);
  --font-mono: var(--ko-typeface-mono);
}
