@import "tailwindcss";

@import "@kalkulacka-one/design-system/themes/www.kalkulacka.one/default";
@import "@kalkulacka-one/design-system/styles";

@theme static {
  --font-display: var(--ko-font-display);
  --font-sans: var(--ko-typeface-sans);
  --font-mono: var(--ko-typeface-mono);

  --ko-drop-shadow-hard-light: var(--color-slate-100);
}
