:root {
    --ko-typeface-display: "Radio Canada";
    --ko-typeface-sans: "Geist";
    --ko-typeface-mono: "Geist Mono";

    --ko-palette-primary: #0c7c59;
    --ko-palette-secondary: rgb(208, 70, 70);
    --ko-palette-neutral: oklch(37.2% 0.044 257.287);
    /* Tailwind's Slate 700 */
    --ko-palette-red: rgb(253, 36, 62);
    --ko-palette-yellow: rgb(242, 184, 7);
    --ko-palette-green: rgb(33, 150, 83);
}