:root {
  --ko-typeface-display: "Radio Canada";
  --ko-typeface-sans: "Geist";
  --ko-typeface-mono: "Geist Mono";

  --ko-palette-primary: rgb(117, 242, 97);
  --ko-palette-secondary: rgb(255, 19, 70);
  --ko-palette-neutral: rgb(0, 0, 0);
  --ko-palette-red: rgb(255, 19, 70);
  --ko-palette-yellow: yellow;
  --ko-palette-green: rgb(117, 242, 97);
}
