:root {
  --ko-palette-primary: #003c76;
  --ko-palette-secondary: #d3161e;
  --ko-palette-neutral: #4f5862;
  --ko-palette-red: #d3161e;
  --ko-palette-yellow: #ffd400;
  --ko-palette-green: #009826;
}
