:root {

  --ko-palette-primary: #003C76;
  --ko-palette-secondary: #D3161E;
  --ko-palette-neutral: #4F5862;
  --ko-palette-red: #D3161E;
  --ko-palette-yellow: #FFD400;
  --ko-palette-green: #009826;
}