@import 'tailwindcss' prefix(ko);

:root {
  color-scheme: light dark;
}

@theme static {
  --font-display: var(--ko-typeface-display), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-sans: var(--ko-typeface-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: var(--ko-typeface-mono), ui-monospace, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --color-*: initial;

  --color-primary: light-dark(
    var(--ko-palette-primary-light, var(--ko-palette-primary)),
    var(--ko-palette-primary-dark, var(--ko-palette-primary))
  );

  --color-primary-hover: light-dark(
    var(--ko-palette-primary-hover-light, oklch(from var(--ko-palette-primary) calc(l - 0.206) calc(c - 0.075) h)),
    var(--ko-palette-primary-hover-dark, oklch(from var(--ko-palette-primary) calc(l - 0.35) calc(c - 0.12) h))
  );

  --color-primary-active: light-dark(
    var(--ko-palette-primary-active-light, oklch(from var(--ko-palette-primary) calc(l - 0.436) calc(c - 0.05) h)),
    var(--ko-palette-primary-active-dark, oklch(from var(--ko-palette-primary) calc(l - 0.5) calc(c - 0.2) h))
  );

  --color-primary-disabled: light-dark(
    var(--ko-palette-primary-disabled-light, oklch(from var(--ko-palette-neutral) 0.9  calc(c - 0.01) h)),
    var(--ko-palette-primary-disabled-dark, oklch(from var(--ko-palette-neutral) 0.9 calc(c - 0.2) h))
  );

  --color-on-bg-primary: light-dark(
    var(--ko-palette-on-bg-primary-light, white),
    var(--ko-palette-on-bg-primary-dark, white)
  );
  
  --color-secondary: light-dark(
    var(--ko-palette-secondary-light, var(--ko-palette-secondary)),
    var(--ko-palette-secondary-dark, var(--ko-palette-secondary))
  );

  --color-secondary-hover: light-dark(
    var(--ko-palette-secondary-hover-light, oklch(from var(--ko-palette-secondary) calc(l - 0.206) calc(c - 0.075) h)),
    var(--ko-palette-secondary-hover-dark, oklch(from var(--ko-palette-secondary) calc(l - 0.35) calc(c - 0.12) h))
  );

  --color-secondary-active: light-dark(
    var(--ko-palette-secondary-active-light, oklch(from var(--ko-palette-secondary) calc(l - 0.436) calc(c - 0.05) h)),
    var(--ko-palette-secondary-active-dark, oklch(from var(--ko-palette-secondary) calc(l - 0.5) calc(c - 0.2) h))
  );

  --color-secondary-disabled: light-dark(
    var(--ko-palette-secondary-disabled-light, oklch(from var(--ko-palette-neutral) 0.9  calc(c - 0.01) h)),
    var(--ko-palette-secondary-disabled-dark, oklch(from var(--ko-palette-neutral) 0.9 calc(c - 0.2) h))
  );

  --color-on-bg-secondary: light-dark(
    var(--ko-palette-on-bg-secondary-light, white),
    var(--ko-palette-on-bg-secondary-dark, white)
  );

  --color-neutral: light-dark(
    var(--ko-palette-neutral-light, oklch(from var(--ko-palette-neutral) calc(l - 0.206) calc(c - 0.075) h)),
    var(--ko-palette-neutral-dark, oklch(from var(--ko-palette-neutral) calc(l - 0.35) calc(c - 0.12) h))
  );

  --color-neutral-hover: light-dark(
    var(--ko-palette-neutral-hover-light, var(--ko-palette-neutral)),
    var(--ko-palette-neutral-hover-dark, var(--ko-palette-neutral))
  );

  --color-neutral-active: light-dark(
    var(--ko-palette-neutral-active-light, oklch(from var(--ko-palette-neutral) calc(l - 0.436) calc(c - 0.05) h)),
    var(--ko-palette-neutral-active-dark, oklch(from var(--ko-palette-neutral) calc(l - 0.5) calc(c - 0.2) h))
  );

  --color-neutral-inactive: light-dark(
    var(--ko-palette-neutral-inactive-light, oklch(from var(--ko-palette-neutral) 0.9  calc(c - 0.01) h)),
    var(--ko-palette-neutral-inactive-dark, oklch(from var(--ko-palette-neutral) 0.9 calc(c - 0.2) h))
  );

  --color-neutral-disabled: light-dark(
    var(--ko-palette-neutral-disabled-light, oklch(from var(--ko-palette-neutral) 0.9  calc(c - 0.01) h)),
    var(--ko-palette-neutral-disabled-dark, oklch(from var(--ko-palette-neutral) 0.9 calc(c - 0.2) h))
  );

  --color-on-bg-neutral: light-dark(
    var(--ko-palette-on-bg-neutral-light, white),
    var(--ko-palette-on-bg-neutral-dark, white)
  );

  --color-red: light-dark(
    var(--ko-palette-red-light, var(--ko-palette-red)),
    var(--ko-palette-red-dark, var(--ko-palette-red))
  );
  --color-yellow: light-dark(
    var(--ko-palette-yellow-light, var(--ko-palette-yellow)),
    var(--ko-palette-yellow-dark, var(--ko-palette-yellow))
  );
  --color-green: light-dark(
    var(--ko-palette-green-light, var(--ko-palette-green)),
    var(--ko-palette-green-dark, var(--ko-palette-green))
  );
  --color-white: light-dark(
    var(--ko-palette-white-light, white),
    var(--ko-palette-white-dark, white)
  );

  /* Logo colors */
  --color-logo-check: light-dark(
    var(--ko-palette-logo-check-light, var(--ko-palette-logo-check, var(--ko-palette-primary))),
    var(--ko-palette-logo-check-dark, var(--ko-palette-logo-check, var(--ko-palette-primary)))
  );

  --color-logo-slash: light-dark(
    var(--ko-palette-logo-slash-light, var(--ko-palette-logo-slash, var(--ko-palette-neutral))),
    var(--ko-palette-logo-slash-dark, var(--ko-palette-logo-slash, var(--ko-palette-neutral)))
  );

  --color-logo-cross: light-dark(
    var(--ko-palette-logo-cross-light, var(--ko-palette-logo-cross, var(--ko-palette-secondary))),
    var(--ko-palette-logo-cross-dark, var(--ko-palette-logo-cross, var(--ko-palette-secondary)))
  );

  --color-logo-percent-numerator: light-dark(
    var(--ko-palette-logo-percent-numerator-light, var(--ko-palette-logo-percent-numerator, var(--ko-palette-primary))),
    var(--ko-palette-logo-percent-numerator-dark, var(--ko-palette-logo-percent-numerator, var(--ko-palette-primary)))
  );

  --color-logo-percent-slash: light-dark(
    var(--ko-palette-logo-percent-slash-light, var(--ko-palette-logo-percent-slash, var(--ko-palette-neutral))),
    var(--ko-palette-logo-percent-slash-dark, var(--ko-palette-logo-percent-slash, var(--ko-palette-neutral)))
  );

  --color-logo-percent-denominator: light-dark(
    var(--ko-palette-logo-percent-denominator-light, var(--ko-palette-logo-percent-denominator, var(--ko-palette-secondary))),
    var(--ko-palette-logo-percent-denominator-dark, var(--ko-palette-logo-percent-denominator, var(--ko-palette-secondary)))
  );

  --drop-shadow-hard: 6px 6px 0px light-dark(
    var(--ko-drop-shadow-hard-light, oklch(from var(--ko-palette-neutral) 0.2 calc(c - 0.01) h)),
    var(--ko-drop-shadow-hard-dark, oklch(from var(--ko-palette-neutral) 0.8 calc(c - 0.01) h))
  );
}

@layer base {
  @font-face {
    font-family: "Radio Canada";
    font-weight: 300 700;
    src: url("./fonts/radio-canada/normal.woff2") format("woff2");
  }

  @font-face {
    font-family: "Radio Canada";
    font-weight: 300 700;
    font-style: italic;
    src: url("./fonts/radio-canada/italic.woff2") format("woff2");
  }

  @font-face {
    font-family: "Geist";
    font-weight: 100 900;
    src: url("./fonts/geist/normal.woff2") format("woff2");
  }

  @font-face {
    font-family: "Geist";
    font-weight: 100 900;
    font-style: italic;
    src: url("./fonts/geist/italic.woff2") format("woff2");
  }

  @font-face {
    font-family: "Geist Mono";
    font-weight: 100 900;
    src: url("./fonts/geist-mono/normal.woff2") format("woff2");
  }

  @font-face {
    font-family: "Geist Mono";
    font-weight: 100 900;
    font-style: italic;
    src: url("./fonts/geist-mono/italic.woff2") format("woff2");
  }
}
