@import "tailwindcss";

@import "@kalkulacka-one/design-system/styles";
@import "@kalkulacka-one/app/styles";

@import "@kalkulacka-one/design-system/themes/www.volebnikalkulacka.cz/default";

:root {
  color-scheme: light;
}

@theme static {
  --font-display: var(--ko-font-display);
  --font-sans: var(--ko-typeface-sans);
  --font-mono: var(--ko-typeface-mono);
}
