:root {
  --ko-typeface-display: "Radio Canada";
  --ko-typeface-sans: "Geist";
  --ko-typeface-mono: "Geist Mono";

  --ko-palette-logo-check: rgb(25, 25, 32);
  --ko-palette-logo-slash: rgb(25, 25, 32);
  --ko-palette-logo-cross: rgb(25, 25, 32);
  --ko-palette-logo-percent-numerator: rgb(25, 25, 32);
  --ko-palette-logo-percent-slash: rgb(25, 25, 32);
  --ko-palette-logo-percent-denominator: rgb(25, 25, 32);
}
