:root {
  --ko-typeface-display: "Radio Canada";
  --ko-typeface-sans: "Inter";

  --ko-palette-primary: rgb(40, 40, 40);
  --ko-palette-secondary: rgb(218, 41, 28);
  --ko-palette-neutral: rgb(173, 166, 166);

  /*

  --palette-primary-10: 0, 0, 0;         // Pure black
  --palette-primary-30: 25, 25, 25;      // Very dark gray
  --palette-primary-50: 40, 40, 40;      // Dark gray
  --palette-primary-70: 128, 128, 128;   // Medium gray
  --palette-primary-90: 230, 230, 230;   // Light gray

  --palette-secondary-10: 110, 20, 14;    // Darker red
  --palette-secondary-30: 180, 32, 22;    // Dark red
  --palette-secondary-50: 218, 41, 28;    // DA291C - Main red
  --palette-secondary-70: 231, 108, 99;   // Light red
  --palette-secondary-90: 252, 235, 234;  // Very light red


  --palette-neutral-00: 0, 0, 0;
  --palette-neutral-10: 29, 28, 28;
  --palette-neutral-30: 86, 82, 82;
  --palette-neutral-40: 149, 149, 149;
  --palette-neutral-50: 173, 166, 166;
  --palette-neutral-60: 189, 189, 189;
  --palette-neutral-70: 218, 216, 215;
  --palette-neutral-90: 248, 247, 247;
  --palette-neutral-100: 255, 255, 255;

  */
}
